<nav class="eis-nav">
    <div class="eis-container">
        <ul class="eis-nav-menu" id="eisNavMenu">
            <li class="eis-nav-item" data-page="index.html">
                <a href="index.html"><span>База ВУ</span></a>
            </li>
            <li class="eis-nav-item" data-page="create.html">
                <a href="create.html"><span>Создать ВУ</span></a>
            </li>
            <li class="eis-nav-item" data-page="exam.html">
                <a href="exam.html"><span>Экзамен</span></a>
            </li>
            <li class="eis-nav-item" data-page="tech-database.html">
                <a href="tech-database.html"><span>База ТО</span></a>
            </li>
            <li class="eis-nav-item" data-page="tech.html">
                <a href="tech.html"><span>Создать ТО</span></a>
            </li>
            <li class="eis-nav-item" data-page="protocol.html">
                <a href="protocol.html"><span>Протоколы</span></a>
            </li>
        </ul>
    </div>
</nav>